.nurse-icon {
    cursor: pointer;
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  